@import "../../../../../styles/mediaQueries.scss";

.introBanner {
  width: 100%;
  overflow: hidden;
}

.slide {
  margin: 0 10px;
}

.slide img {
  border-radius: 12px;
  box-shadow: 2px 2px 4px #EBEBEB;
  object-fit: cover;

  @include mobile-only {
    box-shadow: none;
  }
}

.carousel {
  @include mobile-only {
    max-height: 300px;
  }
}